<% provide(:title, "Edit user") %>
<h1><%=t :prof_update %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => { :multipart => true} do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit t(:save_chang), class: "btn btn-large btn-primary" %>
      <div>
        <%= image_tag @user.avatar.url(:thumb) %>
        <%= f.file_field :avatar %>
      </div>
    <% end %>
  </div>
</div>
