<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag @user.avatar.url(:large) %>
      <h1><%= @user.name %></h1>
      <span><%= link_to t(:view_prof), @user %></span>
      <span><b><%=t :micropos %></b> <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to image_tag(user.avatar.url(:xxs)), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>

