- provide(:title, @user.name)
.row
  %aside.span4
    %section
      = image_tag @user.avatar.url(:large)
      %h1= @user.name
    %section
      = render 'shared/stats'
    = render 'follow_form', user: @user if signed_in?
    - if @user.microposts.any?
      %h3
        = t :microposts
        %small= @user.microposts.count
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
  .span8
    %section
      %p= link_to t(:create_new_match), new_match_path, class: 'btn'

      - if @user.matches.any?
        %h3
          = t(:matches)
          %small= @user.matches.count
        %table.table.table-condensed.matches
          - @user.matches.each do |m|
            %tr
              %td
                = link_to m.initiator.name, m.initiator
              %td
                = link_to m.invited.name, m.invited
              %td
                = t("statuses.#{m.status}")
              %td
                = m.wins
                \: #{m.loses}
              %td
                - if m.status != "finished"
                  = link_to t(:edit), edit_match_path(m)
              %td
                - if m.status != "finished"
                  = link_to t(:delete), m, method: :delete, |
                  data: { confirm: "You sure?" }        |
              %td
                = l(m.created_at, format: '%d.%m.%Y %H:%M')
