<%= render 'micropost', micropost: @micropost %>
<% @micropost.comment_threads.each do |c| %>
  <%= link_to image_tag(c.user.avatar(:xs)), c.user %>
  <p><%= c.body %></p>
<% end %>
<%= form_tag add_comment_micropost_path(@micropost), method: :post do %>
 <%= text_area_tag 'comment[body]', nil, rows: 2 %>
 <%= submit_tag "Add comment"  %>
<% end %>